body{
  background: #AED6F1;
}

.navbar-light{
  background-color: #007bff;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.solicitados {
  text-align: center;
}

#historial {
  margin-right: 8px;  
}

.navbar-nav.mr-auto#li{
  padding-right: 10px; 
}

.navbar-nav.navbar-left#a{
  padding-left: 50px; 
}

.mr-auto#li{
  margin: 0 auto;
}

.centro {
  float: none;
  margin:0 auto;
  border-radius: 10px;
}

.mydiv {
  max-width: 600px;
  width: 50%;
  height: 100px;
  margin-top: 100px;
  background-color: #007bff;
}


.searchinput{
  border: 0;
  box-shadow: black;
  max-height: 300px;
  max-width: 300px;
  width: 200px;
  float:left;
  margin-left: .5rem !important;
  border-spacing: 800px;
}

.btn-primary{
  margin-left: 20px; 
  border-color: #FFFFFF;
}

.dropdownMenu{
  margin-left: 40px;
  margin-right: 20px;
  width: 140px;
}

.button{
  width: 60%;
  margin: 5px 0 25px;
  text-align: center;
  border-color: #FFFFFF;
  border-width: 5px;
} 

.user-img img{
  content: "\f007";
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.user-img p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.ejemplos-servicios h1{
  margin-top: 5px ;
  margin-bottom:5px;
  font-size: 16px;
}


.ejemplos-servicios{
  border: 1px solid #007bff;
  background-color: white;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  width: 400px;
  height: 220px;
  text-align: center;
}

.ejemplos-servicios:hover{
  border: 3px solid #007bff;
}

h1:hover{
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.imagen-mensaje#img{
  margin-left: 10px;
}



@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

.jzdbox1 {
  width:315px; 
  background:#332f2e; 
  border-radius:5px; 
  overflow:hidden; 
  display:block; 
  margin-bottom:10px; 
  box-shadow:0 0 10px #201d1c; 
  margin:0 auto; 
  margin-top:100px;
}

.jzdcal {
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 
  background:#749d9e; 
  background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
  background: linear-gradient(#749d9e, #b3a68b)!important;
}

.jzdcalt {
  font:18px 'Roboto'; 
  font-weight:700; 
  color:#f7f3eb; 
  display:block; 
  margin:18px 0 0 0; 
  text-transform:uppercase; 
  text-align:center; 
  letter-spacing:1px;
}

.jzdcal span {
  font:11px 'Roboto'; 
  font-weight:400; 
  color:#f7f3eb; 
  text-align:center; 
  width:42px; 
  height:42px; 
  display:inline-block; 
  float:left; 
  overflow:hidden; 
  line-height:40px;
}

.jzdcal .jzdb:before {
  opacity:0.3; 
  content:'o';
}

.circle {
  border:1px solid #f7f3eb; 
  box-sizing:border-box!important; 
  border-radius:200px!important;
}

span[data-title]:hover:after, 
div[data-title]:hover:after {
  font:11px 'Roboto'; 
  font-weight:400; 
  content:attr(data-title); 
  position:absolute; 
  margin:0 0 100px; 
  background:#282423; 
  border:1px solid #f7f3eb; 
  color:#f7f3eb; 
  padding:5px; 
  z-index:9999; 
  min-width:150px; 
  max-width:150px;
}



/* Resolución para TABLET: 780px o menos*/
@media screen and (max-width: 780px) {
  body{
    background: #AED6F1;
  }

  .navbar-light{
    background-color: #007bff;
  }


  .navbar-nav.navbar-center {
    position: absolute;
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
  }

  .solicitados {
    text-align: center;
  }

  #historial {
    margin-right: 8px;  
  }

  .navbar-nav.mr-auto#li{
    padding-right: 10px; 
  }

  .navbar-nav.navbar-left#a{
    padding-left: 50px; 
  }

  .mr-auto#li{
    margin: 0 auto;
  }

  .centro {
    float: none;
    margin:0 auto;
    border-radius: 10px;
  }

  .mydiv {
    width: 65%;
    height: 20%;
    margin-top: 10%;
    background-color: #007bff;
    text-align: center;
    overflow: auto;
  }

  .searchinput{
    box-shadow: black;
    max-height: 150px;
    max-width: 150px;
    width: 200px;
    float:left;
    margin-left: .5rem !important;
    border-spacing: 800px;
    text-align: center;
    display: inline-block;
    overflow: auto;
  }

  .btn-primary{
    margin-left: 20px; 
    max-height: 150px;
    max-width: 150px;
    border-color: #FFFFFF;
    text-align: center;
    display: inline-block;
    overflow: auto;
  }

  .dropdownMenu{
    margin-left: 10px;
    margin-right: 20px;
    width: 180px;
    max-height: 150px;
    max-width: 150px;
    text-align: center;
    overflow: auto;
    display: inline-block;
  }

  .button{
    width: 60%;
    margin: 5px 0 25px;
    text-align: center;
    border-color: #FFFFFF;
    border-width: 5px;
  } 

  .user-img img{
    content: "\f007";
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .user-img p{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .ejemplos-servicios h1{
    margin-top: 5px;
    margin-bottom:5px;
    font-size: 16px;
  }


  .ejemplos-servicios {
    border: 1px solid #007bff;
    margin-left: 10%;
    background-color: white;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid; 
    padding: 10px; 
    width: 35%;
    height: 40%;
    text-align: center;
    overflow:auto;
  }

  .ejemplos-servicios:hover{
    border: 3px solid #007bff;
  }

  h1:hover{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
  }

  .imagen-mensaje#img{
    margin-left: 10px;
  }



  @import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

  .jzdbox1 {
    width:315px; 
    background:#332f2e; 
    border-radius:5px; 
    overflow:hidden; 
    display:block; 
    margin-bottom:10px; 
    box-shadow:0 0 10px #201d1c; 
    margin:0 auto; 
    margin-top:100px;
  }

  .jzdcal {
    padding:0 10px 10px 10px; 
    box-sizing:border-box!important; 
    background:#749d9e; 
    background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
    background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
    background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
    background: linear-gradient(#749d9e, #b3a68b)!important;
  }

  .jzdcalt {
    font:18px 'Roboto'; 
    font-weight:700; 
    color:#f7f3eb; 
    display:block; 
    margin:18px 0 0 0; 
    text-transform:uppercase; 
    text-align:center; 
    letter-spacing:1px;
  }

  .jzdcal span {
    font:11px 'Roboto'; 
    font-weight:400; 
    color:#f7f3eb; 
    text-align:center; 
    width:42px; 
    height:42px; 
    display:inline-block; 
    float:left; 
    overflow:hidden; 
    line-height:40px;
  }

  .jzdcal .jzdb:before {
    opacity:0.3; 
    content:'o';
  }

  .circle {
    border:1px solid #f7f3eb; 
    box-sizing:border-box!important; 
    border-radius:200px!important;
  }

  span[data-title]:hover:after, 
  div[data-title]:hover:after {
    font:11px 'Roboto'; 
    font-weight:400; 
    content:attr(data-title); 
    position:absolute; 
    margin:0 0 100px; 
    background:#282423; 
    border:1px solid #f7f3eb; 
    color:#f7f3eb; 
    padding:5px; 
    z-index:9999; 
    min-width:150px; 
    max-width:150px;
  }

}


/* Resolución para MOVIL (iphone 4): 480px o menos*/
@media screen and (max-width: 480px) {

  body{
    background: #AED6F1;
  }

  .navbar-light{
    background-color: #007bff;
  }

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  .solicitados {
    text-align: center;
  }

  #historial {
    margin-right: 8px;  
  }

  .navbar-nav.mr-auto#li{
    padding-right: 10px; 
  }

  .navbar-nav.navbar-left#a{
    padding-left: 50px; 
  }

  .mr-auto#li{
    margin: 0 auto;
  }

  .centro {
    float: none;
    margin:0 auto;
    border-radius: 10px;
  }

  .mydiv {
    width: 80%;
    height: 25%;
    margin-top: 10%;
    background-color: #007bff;
  }

  .searchinput{
    box-shadow: black;
    height: 25%;
    width: 50%;
    float:left;
    margin-left: .5rem !important;
    border-spacing: 10%;
  }

  .btn-primary{
    margin-left: 20px; 
    border-color: #FFFFFF;
  }

  .dropdownMenu{
    margin-left: 10px;
    margin-right: 0px;
    width: 180px;
  }

  .button{
    width: 60%;
    margin: 5px 0 25px;
    text-align: center;
    border-color: #FFFFFF;
    border-width: 5px;
  } 

  .user-img img{
    content: "\f007";
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .user-img p{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .ejemplos-servicios h1{
    margin-top: 5px ;
    margin-bottom:5px;
    font-size: 16px;
  }


  .ejemplos-servicios{
    border: 1px solid #007bff;
    background-color: white;  
    margin-bottom: 30px;
    border: 1px solid;  
    width: 85%;
    height: 50%;
    padding: 10px;
    text-align: center;
    overflow:auto;
  }

  .ejemplos-servicios:hover{
    border: 3px solid #007bff;
  }

  h1:hover{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
  }

  .imagen-mensaje#img{
    margin-left: 10px;
  }



  @import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

  .jzdbox1 {
    width:315px; 
    background:#332f2e; 
    border-radius:5px; 
    overflow:hidden; 
    display:block; 
    margin-bottom:10px; 
    box-shadow:0 0 10px #201d1c; 
    margin:0 auto; 
    margin-top:100px;
  }

  .jzdcal {
    padding:0 10px 10px 10px; 
    box-sizing:border-box!important; 
    background:#749d9e; 
    background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
    background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
    background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
    background: linear-gradient(#749d9e, #b3a68b)!important;
  }

  .jzdcalt {
    font:18px 'Roboto'; 
    font-weight:700; 
    color:#f7f3eb; 
    display:block; 
    margin:18px 0 0 0; 
    text-transform:uppercase; 
    text-align:center; 
    letter-spacing:1px;
  }

  .jzdcal span {
    font:11px 'Roboto'; 
    font-weight:400; 
    color:#f7f3eb; 
    text-align:center; 
    width:42px; 
    height:42px; 
    display:inline-block; 
    float:left; 
    overflow:hidden; 
    line-height:40px;
  }

  .jzdcal .jzdb:before {
    opacity:0.3; 
    content:'o';
  }

  .circle {
    border:1px solid #f7f3eb; 
    box-sizing:border-box!important; 
    border-radius:200px!important;
  }

  span[data-title]:hover:after, 
  div[data-title]:hover:after {
    font:11px 'Roboto'; 
    font-weight:400; 
    content:attr(data-title); 
    position:absolute; 
    margin:0 0 100px; 
    background:#282423; 
    border:1px solid #f7f3eb; 
    color:#f7f3eb; 
    padding:5px; 
    z-index:9999; 
    min-width:150px; 
    max-width:150px;
  }

}


