.descripcion-servicio{
	border: 1px solid #007bff;
  background-color: white;
	margin-left: auto;  	
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  max-width: 600px;
  max-height: 820px;
  text-align: center;
  padding: 10px;
}

#profesional-servicio{
  text-align: center;
}

#lista-profesional-servicios{
  text-align: center;
}

.servicios-profesional{
  display: inline-block;
}


